

body {
    margin: 0;
}

header {
    margin: 0;
    background: linear-gradient(120deg, #FFEBCD 8.57%, #FF8B72 91.34%);
    text-align: center;
    padding: 58px;

}

.header-wrapper {
    max-width: 500px;
}

h1 {
    margin: 0;
}

.hide-mobile {
    display: none;
}