

body {
    margin: 0;
    box-sizing: border-box;
    font-family:'Nunito', sans-serif;;
}

header {
    margin: 0;
    background: linear-gradient(120deg, #FFEBCD 8.57%, #FF8B72 91.34%);
    text-align: center;
    padding: 58px;

}

.header-wrapper {
    max-width: 305px;
    margin: 0 auto;
}

img {
    width: 100%;
    object-fit: cover;
}

h1 {
    margin: 0;
}

p {
    font-size: 18px;
    margin-bottom: 50px;
    color: #2B2B2B;
}
.title {
    font-size: 36px;
    margin-bottom: 14px;

}

.hide-mobile {
    display: none;
}

section {
    padding: 83px 0;
    text-align: center;
    width: 305px;
    margin: 0 auto;
}

svg {
    margin: 1rem 0;
}

/* Tablet section */

@media only screen and (min-width: 750px) {
    .hide-mobile {
        display: unset;
    }

    header {
        text-align: start;
        padding: unset;
        padding-top: 75px;
        padding-bottom: 30px;
    }

    .header-wrapper {
        
        max-width: 680px;
        margin: 0 auto;
    }
    
    .title {
        font-size: 50px;
    }

    .header-wrapper p {
        font-size: 24px;
        width: 67%;
    }

    img {
        width: 195px;
        height: 149px;
    }

    .img-wrapper {
        display: flex;
        gap: 30px;
    }
   
    .third-img {
        margin-bottom: -80px;
        margin-left: 30px;
    }

    section {
        text-align: left;
        width: 680px;
    }

    .section-second-div {
        display: flex;
        justify-content: space-between;
    }

    .section-second-div div {
        width: 250px;
    }    
}

/* Desktop section */

@media only screen and (min-width: 1200px) {

    header {
        padding-bottom: 0;
        padding-top: 139px;
    }
    .header-wrapper {
        max-width: 1100px;
        display: flex;
        align-items: center;
    }

    .header-wrapper p {
        width: 80%;
    }

    img {
        width: 218px;
        height: 167px;
    }
    .img-wrapper {
        display: flex;
        align-items: center;        
        gap: 30px;
    }
    
    .second-img {
        margin-bottom: -40px;
        
    }
    .third-img {
        margin: 0;
        margin-bottom: -50px;
        margin-top: 20px;
    }


    section {
        width: 1100px;
        display: flex;
        gap: 100px;
    }

    section h1 {
        font-size: 32px;
    }

    section p {
        font-size: 20px;
    }

    .section-first-div {
        width: 277px;
        
    }
    .section-second-div {
        gap: 100px;
    }
}