

body {
    margin: 0;
}

header {
    margin: 0;
    background: linear-gradient(120deg, #FFEBCD 8.57%, #FF8B72 91.34%);
    text-align: center;
    padding: 58px;

}

.header-wrapper {
    max-width: 305px;
    margin: 0 auto;
}

img {
    width: 100%;
    object-fit: cover;
}

h1 {
    margin: 0;
}

p {
    font-size: 18px;
    margin-bottom: 50px;
    color: #2B2B2B;
}
.title {
    font-size: 36px;
    margin-bottom: 14px;

}

.hide-mobile {
    display: none;
}

section {
    padding: 83px 0;

    text-align: center;
    width: 305px;
    margin: 0 auto;
}

svg {
    margin: 1rem 0;
}

@media only screen and (min-width: 650px) {
    
}